<div class="jumbotron py-3">
  <h1 class="display-4 text-center">Cursos Cast</h1>
</div>

<div class="row">
  <div class="col-md-6">
      <app-form></app-form>
  </div>
  <div class="col-md-6">
      <table class="table">
          <thead class="thead-light">
              <tr>
                  <th>Descrição</th>
                  <th>Data Início</th>
                  <th>Data Témino</th>
                  <th>Alunos Turma</th>
                  <th>Nome Categoria</th>
                  <th></th>
              </tr>
          </thead>
          <tbody>
              <tr *ngFor="let pd of service.list">
                  <td (click)="populateForm(pd)">{{pd.descricao}}</td>
                  <td (click)="populateForm(pd)">{{pd.dataInicio}}</td>
                  <td (click)="populateForm(pd)">{{pd.dataTermino}}</td>
                  <td (click)="populateForm(pd)">{{pd.qtdAlunosTurma}}</td>
                  <td (click)="populateForm(pd)">{{pd.nomeCategoria}}</td>
                  <td>
                   <i class="fas fa-edit" (click)="populateForm(pd)"></i>
                  <i class="far fa-trash-alt fa-lg text-danger" (click)="onDelete(pd.cursoId)"></i>
                  </td>
              </tr>
          </tbody>
      </table>
  </div>
</div>

<div class="col"><router-outlet></router-outlet></div>
